# FIT5196 Task 1 in Assessment 1
#### Student Name: Chuangfu Xie
#### Student ID: 27771539

Date: 08/04/2018

Version: 1.0

Environment: Python 3.6.4 and Jupyter notebook

In [1]:
import sys
print (sys.version_info)

sys.version_info(major=3, minor=6, micro=4, releaselevel='final', serial=0)

## 1.  Import libraries

In [2]:
import pandas as pd
pd.__version__

'0.22.0'

## 2. Parse Excel File
First, we use pandas function `read_excel()` to read the excel file from the current working directory, specifying parameter `header` as `None` intended to make all column marked as intergers.

Then we inspect the output to find problems.

In [7]:
df = pd.read_excel("./basic_indicators.xlsx", header=None)
df.head()
#df.dtypes

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,TABLE 1. BASIC INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Countries and areas,Under–5 mortality rank,Under–5 mortality rate,NaN,Under–5 mortality rate by sex\n2016,NaN,Infant mortality rate (under 1),NaN,Neonatal mortality rate,...,Total adult literacy rate (%),NaN,Primary school net enrolment ratio ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1990,2016,male,female,1990,2016,2016,...,2011−2016*,NaN,2011−2016*,NaN,NaN,NaN,NaN,NaN,NaN,NaN

According to the instruction, now we can find the problems:
* Multiple labels(i.e Under–5 mortality rate ( 1990, 2016 ) ).
* We do not need the 'Summary' part(starting from row 207).
* Many rows and columns only contain `NaN`.
* We do not need the additional notes.

Here we use `drop()` and `dropna()` to deal with the unwanted records. After that, we can get what we want from the input, then we use `reset_index ` to reset all record index.

In [4]:
df.drop(df.index[208:],axis=0,inplace=True) #Drop the Summary part
df.drop(df.index[:6],axis=0,inplace=True) #Drop the Multiple labels
df.dropna(axis=[0,1], how='all', inplace=True) #Drop all row and colums containing only NaNs
df.drop([15,17],axis=1,inplace=True) #Drop the additional notes
df.reset_index(drop=True, inplace=True) #Reset all index
df.columns = ['Country Name'] + list(range(14))#Rename columns

Follow the instructions, as all data need to be convert to integer, we use `apply` function to do the elementwise manipulation:
* Find those which contains `'–'` and then replace as empty string `''`.
* Find those which are an instance of float type object and then convert to integer. 

In this part, we use `lambda` function and make use of the `isinstance` function to work as a filter to find all matching records and do the conversion.

In [5]:
df = df.apply(lambda x: x.replace('–', ''), axis=1)
func = lambda each: int(each) if isinstance(each, float) else each
df = df.apply(lambda x: x.apply(func))

Export to CSV format

In [6]:
df.to_csv('./basic_indicators.csv',index=False)

## 3. Summary
The most tricky part in this task is to convert float into integer. Though we can specify `float_format='%.f'` in `to_csv()` to simply the conversion process, it doesn't work in the situation where the dataframe contains different data types. Consequently, we use anonymous functions as filter elementwisely to do the conversion.