# FIT5148 - Distributed Databases and Big Data

# Assignment 1 - Task1.1
**Instructions:**
- You will be using Python 3.
- Read the assignment instruction carefully and implement the algorithms in this workbook. 
- You can use the datasets fireData and climateData (provided below) if you are aiming for Credit Task.
- For Distinction and High Distinction tasks, you are required to read the files FireData.csv and ClimateData.CSV provided with the assignment programatically and prepare the data in the correct format so that it can be used in your algorithm. 
- You can introduce new cells as necessary.

**Student details**
- Name: Chuangfu Xie
- Student ID: 27771539

- Name: Kai Wang
- Student ID:

### Your Python version

In [1]:
import sys
print (sys.version_info)

sys.version_info(major=3, minor=6, micro=4, releaselevel='final', serial=0)

### Import packages:
All packages we used in this notebook are imported as follow:

In [3]:
import pandas as pd

### Task.0 Data Preparation
This section is mainly about parsing data from .csv file, and prepare the data in the correct format.

> **Note**:  
To read the CSV file successfully, please make sure the target file is in the same directory with this jupyter notebook.

1. Read CSV data: `FireData.csv` and `ClimateData.csv`

In [4]:
df_Fire = pd.read_csv("./FireData.csv")
df_Climate = pd.read_csv("./ClimateData.csv")

In [5]:
# Have a look at the Climate data
df_Climate.head()

,Station,Date,Air Temperature(Celcius),Relative Humidity,WindSpeed (knots),Max Wind Speed,MAX,MIN,Precipitation
0,948700,2016-12-31,19,56.8,7.9,11.1,72.0*,61.9*,0.00I
1,948700,2017-01-02,15,50.7,9.2,13.0,72.0*,58.3,0.02G
2,948700,2017-01-03,16,53.6,8.1,15.0,68.4*,54.3*,0.00G
3,948700,2017-01-04,24,61.6,7.7,14.0,87.3*,54,0.00I
4,948700,2017-01-05,24,62.3,7.0,13.0,85.5*,65.7*,0.00I

In [6]:
# Have a look at the Fire data
df_Fire.head()

,Latitude,Longitude,Surface Temperature (kelvin),Datetime,Power,Confidence,Date,Surface Temperature (Celcius)
0,-37.966,145.051,341.8,2017-12-27T04:16:51,26.7,78,2017-12-27,68
1,-35.541,143.311,336.3,2017-12-27T00:02:15,62.0,82,2017-12-27,63
2,-35.554,143.307,326.8,2017-12-27T00:02:15,23.8,67,2017-12-27,53
3,-35.543,143.316,340.4,2017-12-27T00:02:14,84.2,86,2017-12-27,67
4,-37.708,145.100,327.8,2017-12-25T04:29:08,16.2,80,2017-12-25,54

In [7]:
# Have a look at data types of all colums
df_Climate.dtypes

Station                          int64
 Date                           object
   Air Temperature(Celcius)      int64
  Relative Humidity            float64
  WindSpeed  (knots)           float64
 Max Wind Speed                float64
   MAX                          object
  MIN                           object
Precipitation                   object
dtype: object

In [8]:
# Have a look at data types of all colums
df_Fire.dtypes

Latitude                         float64
Longitude                        float64
Surface Temperature (kelvin)     float64
Datetime                          object
Power                            float64
Confidence                         int64
Date                              object
Surface Temperature (Celcius)      int64
dtype: object

Here we found somethings:
1. In `df_Fire`, both <font color='blue'>"_Datetime_"</font> and <font color='blue'>"_Date_"</font> are `object` data type, it need to be converted into `datetime` data type. 
2. In `df_Climate`, some columns name need to remove the extra spaces

Then, we do

In [9]:
# 1. Convert to datetime type
df_Fire['Datetime']=pd.to_datetime(df_Fire['Datetime']).head()
df_Fire['Date']=pd.to_datetime(df_Fire['Date']).head()

In [10]:
# Recheck ... Now better
df_Fire.dtypes

Latitude                                float64
Longitude                               float64
Surface Temperature (kelvin)            float64
Datetime                         datetime64[ns]
Power                                   float64
Confidence                                int64
Date                             datetime64[ns]
Surface Temperature (Celcius)             int64
dtype: object

In [11]:
# 2. delete extra spaces in place
for i in range(len(df_Climate.columns.values)):
    df_Climate.columns.values[i] = df_Climate.columns.values[i].strip()
# Recheck ... Now better
df_Climate.columns.values

array(['Station', 'Date', 'Air Temperature(Celcius)', 'Relative Humidity',
       'WindSpeed  (knots)', 'Max Wind Speed', 'MAX', 'MIN',
       'Precipitation'], dtype=object)

Now, our data is ready for use.
> **Note**: In each individual notebook, this boring stuff will do automatically at the very first cell, but no more comment on it.

***