# FIT5196 Task 1 in Assessment 1
#### Student Name: Chuangfu Xie
#### Student ID: 27771539

Date: 08/04/2018

Version: 1.0

Environment: Python 2.7.11 and Jupyter notebook

Libraries used: 
* pandas (for dataframe, included in Anaconda Python 2.7) 
* re (for regular expression, included in Anaconda Python 2.7) 
* numpy (for numpy array, included in Anaconda Python 2.7) 

<font size=3, color="red"> Note: this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. It is important to make sure the logic of how you finish the assessment is clearly shown in this notebook! </font>

## 1.  Import libraries

In [1]:
# Code to import libraries as you need in this assessment, e.g.,
import pandas as pd

## 2. Parse XXXX File

In this section, you can write your python scripts to parse the correspondiing file.
You should 
* write proper notes for all code block in this notebook using the Markdown cells
* provide proper comment in your scripts
* run all cells to make sure scripts are runable. If the scripts cannot be run by the assessors, they will not be assessed and zero mark will be given to the task.

In [2]:
df = pd.read_excel("./basic_indicators.xlsx")

In [3]:
df.dropna(axis=[0,1], how='all', inplace=True)
col_labels = df[:2]
df.drop([3],inplace=True)

In [4]:
df = df.applymap(str)

In [5]:
df.head()

,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 23
1,Countries and areas,Under–5 mortality rank,Under–5 mortality rate,nan,Under–5 mortality rate by sex\n2016,nan,Infant mortality rate (under 1),nan,Neonatal mortality rate,Total population (thousands),Annual number of births (thousands),Annual number of under–5 deaths (thousands),Life expectancy at birth (years),Total adult literacy rate (%),nan,Primary school net enrolment ratio ...,nan,nan
2,nan,nan,1990,2016,male,female,1990,2016,2016,2016,2016,2016,2016,2011−2016*,nan,2011−2016*,nan,nan
4,Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.962,80,63.673,31.74112,nan,–,nan,nan
5,Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.24697,nan,95.51731,nan,nan
6,Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.13605,x,97.06215,nan,nan

In [6]:
df.columns = [x for x in range(1,len(df.iloc[0])+1,1)]
df.drop(df.index[:2],inplace=True)
df.reset_index(drop=True,inplace=True)
df.drop(df.index[216:],inplace=True)

In [7]:
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.962,80,63.673,31.74112,nan,–,nan,nan
1,Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.24697,nan,95.51731,nan,nan
2,Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.13605,x,97.06215,nan,nan
3,Andorra,179,9,3,3,3,7,2,1,77.281,–,0,–,100,nan,–,nan,nan
4,Angola,17,221,83,88,76,131,55,29,28813.463,1180.97,96,61.547,66.03011,nan,84.01231,nan,nan
5,Anguilla,–,–,–,–,–,–,–,–,14.764,–,–,–,–,nan,–,nan,nan
6,Antigua and Barbuda,133,26,9,9,8,25,5,4,100.963,1.636,0,76.364,98.95,x,87.04613,nan,nan
7,Argentina,126,29,11,12,10,26,10,6,43847.43,753.646,8,76.577,98.09,nan,99.34679,nan,nan
8,Armenia,118,50,13,15,12,42,12,7,2924.816,40.158,1,74.618,99.74441,nan,96.07425,nan,nan
9,Australia,164,9,4,4,3,8,3,2,24125.848,310.703,1,82.896,–,nan,97.03283,nan,nan
10,Austria,164,10,4,4,3,8,3,2,8712.137,83.099,0,81.594,–,nan,–,nan,nan
11,Azerbaijan,68,95,31,34,28,75,27,18,9725.376,176.026,5,72.026,99.79006,nan,94.14265,nan,nan
12,Bahamas,126,24,11,11,10,20,9,6,391.232,5.57,0,75.675,–,nan,97.52022,x,nan
13,Bahrain,142,23,8,8,7,20,7,3,1425.171,21.489,0,76.9,94.55679,x,96.4285,nan,nan
14,Bangladesh,62,144,34,37,32,100,28,20,162951.56,3109.722,106,72.489,72.75872,nan,90.50861,x,nan
15,Barbados,123,18,12,13,11,16,11,8,284.996,3.408,0,75.906,–,nan,91.02247,nan,nan
16,Belarus,164,15,4,4,3,12,3,2,9480.042,114.344,0,72.926,99.61706,x,95.3602,nan,nan
17,Belgium,164,10,4,4,4,8,3,2,11358.379,128.957,1,81.134,–,nan,98.94778,nan,nan
18,Belize,106,39,15,16,13,32,13,10,366.954,8.181,0,70.384,–,nan,96.14116,nan,nan
19,Benin,7,178,98,102,93,107,63,31,10872.298,396.613,38,60.907,32.94882,nan,95.86662,nan,nan
20,Bhutan,66,128,32,36,29,90,27,18,797.765,14.528,0,70.197,57.0336,nan,85.5824,nan,nan
21,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,10887.882,252.768,9,69.125,92.45508,nan,88.48272,nan,nan
22,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,3516.816,32.523,0,76.911,96.99177,nan,–,nan,nan
23,Botswana,56,54,41,44,37,42,33,26,2250.26,53.332,2,66.797,81.18871,x,91.02086,nan,nan
24,Brazil,106,64,15,16,14,53,14,8,207652.865,2965.624,45,75.509,91.72943,nan,92.69713,nan,nan
25,British Virgin Islands,–,–,–,–,–,–,–,–,30.661,–,–,–,–,nan,–,nan,nan
26,Brunei Darussalam,131,13,10,11,9,10,9,4,423.196,6.73,0,77.203,96.08556,nan,–,nan,nan
27,Bulgaria,142,18,8,8,7,15,7,4,7131.494,66.913,1,74.749,98.35245,nan,93.30484,nan,nan
28,Burkina Faso,16,199,85,89,80,99,53,26,18646.433,715.598,60,60.361,34.5994,nan,69.09631,nan,nan
29,Burundi,23,170,72,77,66,103,48,24,10524.117,437.227,31,57.481,61.56973,nan,94.14828,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Turks and Caicos Islands,–,–,–,–,–,–,–,–,34.9,–,–,–,–,nan,–,nan,nan
187,Tuvalu,78,57,25,28,23,44,21,17,11.097,–,0,–,–,nan,84.40111,nan,nan
188,Uganda,43,175,53,58,48,104,38,21,41487.965,1715.486,90,59.889,70.19822,nan,93.65028,nan,nan
189,Ukraine,133,19,9,10,8,17,8,5,44438.625,479.168,4,71.96,99.97435,nan,96.17551,nan,nan
190,United Arab Emirates,142,17,8,9,7,14,7,4,9269.612,91.583,1,77.256,90.03385,x,93.375,nan,nan
191,United Kingdom,164,9,4,5,4,8,4,3,65788.574,805.499,3,81.565,–,nan,99.85433,nan,nan
192,United Republic of Tanzania,36,179,57,60,53,108,40,22,55572.201,2086.732,117,65.675,77.88723,nan,80.09053,nan,nan
193,United States,151,11,7,7,6,9,6,4,322179.605,4002.519,26,79.392,–,nan,93.75419,nan,nan
194,Uruguay,133,23,9,10,8,21,8,5,3444.006,48.546,0,77.493,98.52387,nan,94.21768,nan,nan
195,Uzbekistan,80,72,24,27,21,59,21,14,31446.795,663.073,16,71.314,99.98383,nan,94.69494,nan,nan
196,Vanuatu,73,36,28,30,25,29,23,12,270.402,6.93,0,72.133,74,x,85.81376,nan,nan
197,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,31568.179,602.103,10,74.545,97.12709,nan,89.85675,nan,nan
198,Viet Nam,82,51,22,25,18,37,17,12,94569.072,1581.762,34,76.253,93.52045,x,97.96511,nan,nan
199,Yemen,38,126,55,59,51,88,43,27,27584.213,867.303,48,64.953,–,nan,84.83733,nan,nan
200,Zambia,33,182,63,68,58,110,44,23,16591.39,620.261,39,61.874,83.00767,x,87.40411,nan,nan
201,Zimbabwe,37,75,56,62,51,50,40,23,16150.362,535.37,30,61.163,88.69342,nan,85.86239,nan,nan
202,SUMMARY,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
203,East Asia and Pacific,–,57,16,18,15,43,14,8.3,2291491.742000001,31392.68,510,75.3232231496551,–,nan,93.7572409230301,**,nan
204,Europe and Central Asia,–,31,10,11,9,25,8,5.1,908161.263,11086.639000000001,107,77.35003967399,–,nan,96.49369335720048,nan,nan
205,Eastern Europe and Central Asia,–,47,14,16,13,38,13,7.4,416914.481,6138.993,88,72.6578866740587,98.11228292907687,nan,94.39152426449215,nan,nan
206,Western Europe,–,11,4,4,4,9,3,2.3,491246.782,4947.646,19,81.3337263799764,–,nan,98.26459186561546,nan,nan
207,Latin America and Caribbean,–,55,18,19,16,44,15,9.2,633772.6080000001,10748.930999999997,187,75.515727970239,93.54858009023935,nan,93.19100965616052,nan,nan
208,Middle East and North Africa,–,66,24,26,22,50,20,13.6,435225.309,9952.537,237,73.50146366756212,77.71846305748485,nan,94.03516749522136,nan,nan
209,North America,–,11,6,7,6,9,6,3.7,358469.42699999997,4389.2519999999995,28,79.69388418049944,–,nan,94.23479450588663,nan,nan
210,South Asia,–,129,48,48,48,92,39,28.2,1765989.2060000002,35853.251000000004,1713,68.7090273700982,67.6394846150002,nan,89.8002041292953,nan,nan
211,Sub-Saharan Africa,–,181,78,84,73,108,53,27.7,1034153.2859999997,37038.48099999999,2860,60.3970273542882,65.45880676568369,nan,80.20689588454725,nan,nan
212,Eastern and Southern Africa,–,164,61,66,56,101,43,24.5,542206.2289999999,18203.015,1104,63.36389435047418,75.21305281319152,nan,81.6126023239155,nan,nan
213,West and Central Africa,–,199,95,101,89,116,63,30.8,491947.05700000003,18835.466,1756,57.127054004398694,–,nan,–,nan,nan
214,Least developed countries,–,176,68,73,63,109,48,26.4,979387.9249999996,31163.13099999999,2101,64.44519781356418,62.99064752571179,nan,80.66983237114943,nan,nan
215,World,–,93,41,43,39,65,31,18.6,7427262.841000001,140461.77099999998,5642,72.04043327718603,78.40879136804736,nan,90,**,nan

## 3. Summary
Give a short summary of your work done above, such as your findings.

In [8]:
?df.reset_index()