```shell
Created: 28 Apr 2018
Last update: 29 Apr 2018
```

# Notes on `mongo`
> **Contents**
1. `mongo` basic
2. `mongo` shell

## 1. `mongo` basics

### 1.1 `mongo` data structure –– BSON

**MongoDB** uses **JSON**(JavaScript Object Notation) doucuments in binary-encoded format, which provides many different types and more complicated structure. **BSON** or Binary JSON, extends the JSON model to provide additional data types. 

**Example of JSON**
```JSON
{"menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
                 {"value": "New", "onclick": "CreateNewDoc()"},
                 {"value": "Open", "onclick": "OpenDoc()"},
                 {"value": "Close", "onclick": "CloseDoc()"}
                ]
  }
}
```
**Compare with BSON**
```BSON
{"_id":123,
 "name":{
     "first":"first name",
     "last":"last name"
 },
 "age":29,
 "Belongings":[
               {"item":"shoes", "value":200},
               {"item":"bicycle", "value":800},
               {"item":"briefcase", "value":1500}
               ]
}
```

## 1.2 Basic CRUD in `mongo`

### 1.2.1 Creation
To create a new database, a new collection, a new document
* `use <database>`: switch to another database. If it doesn't exist, it will initialise a new database.
* `db.createCollection(<collection>)`: initialise a new collection.
* Using variable to temporarily store a document:
```mongo
> var new = {"sid":123,
...            "name":"David",
...            "info":{"year":2018, "mark":90}
...            }
> db.collection.insert(new)
```

### 1.2.2 Read
* `find()`: return the result of a query. Without given parameter, it will by default return the entire documents in a collection.  
```mongo
> db.collection.find()
```
* `count()`: return the number of documents.
* `sort()`: sort the documents by criteria. `1` for ascending, `-1` for descending.
```mongo
> db.collection.find().sort({"_id":1})
{"_id":123, ...}
{"_id":124, ...}
...
```
* `limit()`: limit the documents to retrieved. No limit if parameter is not given.
* `hasNext()` and `next()`:  
Considering the following codes:
```shell
> var results = db.collection.find({"unit_code":"FIT5148"})
> results.hasNext() #Check whether it is empty.
true
> results.count()
2
> results.next()
{"sid":1, ...}
> results.next()
{"sid":2, ...}
> results.hasNext()
false
> results.count()
2
> results.next()
2018-04-28T22:42:53.058+1000 E QUERY    [thread1] Error: error hasNext: false :
DBQuery.prototype.next@src/mongo/shell/query.js:305:1
@(shell):1:1
```
Now we can see that the `results` variable stores the output of the `find()`. It works as a generator in Python  but "pop" the first document out when execute `next()` function and remember where it ends. It is noteworthy to notice that `count()` only retrieve the number of documents in this variable(which seem to be immutable after the variable has been initialised).  
* `print()`: print out the document.
* `pretty()` or `printjson()`: print out in a more readable style.
* `explain()`: it usually take `"allPlansExecution"` as its parameter. More infomation in **Indexing**.

### 1.2.3 Update  
[Bulk Write](https://docs.mongodb.com/manual/core/bulk-write-operations/)  
To update document(s) of a collection
* `update()`:
* `updateOne()`:
* `updateMany()`:
* `replaceOne()`:
* Another way to populate data: Run JavaScript in terminal

### 1.2.4 Deletion
* `db.<collection>.deleteOne({filter})`: 
* `db.<collection>.deleteMany({filter})`: 
* `db.<collection>.remove()`: delete documents by query criteria.
* `db.<collection>.drop()`: delete the entire **collection**.
* `db.dropDatabase()`: drop the current **database**.

### 3. `mongo` shell

Date - 28 Apr 2018

Run `JavaScript` in `mongo` shell
---
Let's take a `JavaScript` file as example:  
> `example.js`
```javascript
db = connect("localhost:27017/another") //Specify which database to run
db.evaluation.insertMany(...)
```

Then, we can run this `JavaScript` file in terminal with `mongo` shell:
```
$ mongo example.js
```
It works exactly the same as we are working in the `mongo` shell
```shell
> use another
> db.evaluation.insertMany(...)
```

---

Date - 29 Apr 2018

Aggregation 
---

**Aggregation pipeline**
```
{$match} ➜ {$project} ➜ {$group} ➜ {$sort}
 filter  ➜   reshape  ➜  sum-up  ➜  order     
```

### 1. Aggregate values & Re-shaping documents
Let's take the following dataset to work with:
```
> db.qoh.find({})
{ "_id" : 1, "type" : 2, "supplier" : "OFF", "qty" : 1000 }
{ "_id" : 2, "type" : 2, "supplier" : "OFF", "qty" : 500 }
{ "_id" : 3, "type" : 1, "supplier" : "ON", "qty" : 200 }
{ "_id" : 4, "type" : 3, "supplier" : "OFF", "qty" : 1000 }
{ "_id" : 5, "type" : 1, "supplier" : "ON", "qty" : 40 }
{ "_id" : 6, "type" : 2, "supplier" : "ON", "qty" : 1000 }
{ "_id" : 7, "type" : 3, "supplier" : "ON", "qty" : 5000 }
```

First, let's <font color=red>**group**</font> documents with ***same type***, then respectively <font color=red>**sum**</font> the quantity ***"qty"***. Noted that ***"total"*** is a newly created key temporarily for storing value of the sum of ***"qty"***. ( <font color=red>**Re-shaping**</font> )

```
> db.qoh.aggregate(
...                 [{$group:{_id: "$type", total: {$sum: "$qty"}}}]
...                )
{ "_id" : 3, "total" : 6000 }
{ "_id" : 1, "total" : 240 }
{ "_id" : 2, "total" : 2500 }
```

How about extract document which "supplier" matches "ON". ( <font color=red>**Matching**</font> )
```
> db.qoh.aggregate(
...                 [{$match:{supplier: "ON"}}]
...                )
{ "_id" : 3, "type" : 1, "supplier" : "ON", "qty" : 200 }
{ "_id" : 5, "type" : 1, "supplier" : "ON", "qty" : 40 }
{ "_id" : 6, "type" : 2, "supplier" : "ON", "qty" : 1000 }
{ "_id" : 7, "type" : 3, "supplier" : "ON", "qty" : 5000 }
```

Now, let's combine these command into one. We want to have document which ***"supplier"*** is ***"ON"***, then grouped by their ***"type"*** and sum the quantity ***"qty"***, and do sorting the ***"total"*** in ascending order.
```
> db.qoh.aggregate(
...                 [{$match: {supplier: "ON"}},
...                  {$group: {_id: "$type", total: {$sum: "$qty"}}},
...                  {$sort: {total:1}}]
...                )
{ "_id" : 1, "total" : 240 }
{ "_id" : 2, "total" : 1000 }
{ "_id" : 3, "total" : 5000 }
```

---

### 2. Aggregating Array elements

Let's take the following dataset to work with:
```
> db.FIT.find({}).pretty()
{"_id" : 126, 
 "name" : { "first" : "Peter", "last" : "Chen" },
 "course" : "MBIS", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database",
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 99 }]}
{"_id" : 124,
 "name" : { "first" : "Albert", "last" : "Einstein" }, 
 "course" : "MBIS", 
 "result" : [{ "unit_code" : "FIT9131", 
               "unit_name" : "Programming", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 90 }, 
             { "unit_code" : "FIT9132",
               "unit_name" : "Database", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 90 }]}
{"_id" : 127, 
 "name" : { "first" : "Charles", "last" : "Babbage" }, 
 "course" : "MIT", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 95 }, 
             { "unit_code" : "FIT9131", 
               "unit_name" : "Programming", 
               "semester" : 2, 
               "year" : 2017 }]}
{"_id" : 123,
 "name" : { "first" : "Marie", "last" : "Currie" }, 
 "course" : "MIT", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 85}, 
             { "unit_code" : "FIT9131", 
               "unit_name" : "Programming", 
               "semester" : 2, 
               "year" : 2017, 
               "mark" : 99 }]}
{"_id" : 125, 
 "name" : { "first" : "Gordon", "last" : "Bell" }, 
 "course" : "MBIS", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database", 
               "semester" : 2, 
               "year" : 2017 }]}
{"_id" : 128, 
 "name" : { "first" : "Peter", "last" : "Chen" }, 
 "course" : "MBIS", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 99 }]}
```

First we use `$unwind` operator to change array elements into serval single documents

```mongo
db.FIT.aggregate({$unwind:"$result"}).pretty()
```

It means that the "result" array now has been **divided**, and **each** document stored in this has been **distributed**. 

```
{"_id" : 127, 
 "name" : { "first" : "Charles", "last" : "Babbage" }, 
 "course" : "MIT", 
 "result" : [{ "unit_code" : "FIT9132", 
               "unit_name" : "Database", 
               "semester" : 1, 
               "year" : 2017, 
               "mark" : 95 }, 
             { "unit_code" : "FIT9131", 
               "unit_name" : "Programming", 
               "semester" : 2, 
               "year" : 2017 }]}
➜
{"_id" : 127,
 "name" : { "first" : "Charles", "last" : "Babbage" },
 "course" : "MIT",
 "result" : {"unit_code" : "FIT9132",
             "unit_name" : "Database",
             "semester" : 1,
             "year" : 2017,
             "mark" : 95 }}
{"_id" : 127,
 "name" : { "first" : "Charles", "last" : "Babbage" },
 "course" : "MIT",
 "result" : {
             "unit_code" : "FIT9131",
             "unit_name" : "Programming",
             "semester" : 2,
             "year" : 2017 }}

```

let's use `$unwind` to work with grouping and sorting:
```
> db.FIT.aggregate(
...                [{ $unwind : "$results" },
...                 { $group : {_id:"$_id", average:{$avg:"$results.mark"}} }, 
...                 { $sort : {average : 1} }])
{ "_id" : 125, "average" : null }
{ "_id" : 124, "average" : 90 }
{ "_id" : 123, "average" : 92 }
{ "_id" : 127, "average" : 95 }
{ "_id" : 128, "average" : 99 }
{ "_id" : 126, "average" : 99 }
```
Note that id=125 doesn't have key "mark" and its value in FIT9132, so that the "average" returns null. However, though id=127 doesn't have the "mark" data in FIT9131, it has the "mark" data of FIT9132. In this case, `mongo` will treat it as it only have one document valid for doing the average.

Another Example on this topic:
First, let's take a look at the dataset:
```
> db.evaluation.find({})
{"_id":1, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":6}]}
{"_id":2, "results":[{"item":"content", "score":8}, {"item":"presentation", "score":8}]}
{"_id":3, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":7}]}
{"_id":4, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":8}]}
{"_id":5, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":6}]}
{"_id":6, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":9}]}
{"_id":7, "results":[{"item":"content", "score":null}, {"item":"presentation", "score":9}]}
{"_id":8, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":null}]}
{ "_id":9, "results":[{"item":"content", "score":7}]}
> db.evaluation.aggregate(
...                      [{ $unwind : "$results" }, 
...                       { $group : { _id : "$results.item", 
...                                    total : {$sum:"$$results.score"},
...                                    average : {$avg:"$results.score"}} }, 
...                       { $sort : {average : 1} }])
{ "_id" : "presentation", "total" : 53, "average" : 7.571428571428571 }
{ "_id" : "content", "total" : 61, "average" : 7.625 }

```
It is important that if a **key:value** pairs is missing, either key or value, this will not be accounted during the operation of `$sum` or `$avg`.

$$9 + 8 + 7 + 9 + 7 + 7 + 7 + 7 = 61$$
$$61\div8 = 7.625$$

$$6 + 8 + 7 + 8 + 6 + 9 + 9 = 53$$
$$53\div7\approx7.57$$

---

Operators
---

### 1. Array Query Operators
* `$all`: Matches arrays that contain all elements specified in the query.
* `$elemMatch`: Selects documents if element in the array field matches the specified conditions.
* `$size`: Selects documents if the array field is a specified size.

Let's take the following dataset as example:
```
> db.evaluation.find({})
{"_id":1, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":6}]}
{"_id":2, "results":[{"item":"content", "score":8}, {"item":"presentation", "score":8}]}
{"_id":3, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":7}]}
{"_id":4, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":8}]}
{"_id":5, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":6}]}
{"_id":6, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":9}]}
{"_id":7, "results":[{"item":"content", "score":null}, {"item":"presentation", "score":9}]}
{"_id":8, "results":[{"item":"content", "score":7}, {"item":"presentation", "score":null}]}
{ "_id":9, "results":[{"item":"content", "score":7}]}
```
If we want to find documents which elementes match the query criteria, let says, "score" value within "results" array equals to 8.  
Using `$all` to do a **fuzzy search**:
```mongo
> db.evaluation.find({"results.score":{$all:[8]}})
{"_id":2, "results":[{"item":"content", "score":8}, {"item":"presentation", "score":8}]}
{"_id":4, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":8}]}
```

Or, equals to 8 and 9

```mongo
> db.evaluation.find({"results.score":{$all:[8,9]}})
{"_id":4, "results":[{"item":"content", "score":9}, {"item":"presentation", "score":8}]}
```

We can also do a **exact-matched search** by `$elemMatch`:

```mongo
> db.evaluation.find({results:{$elemMatch:{"item":"content","score":8}}})
{"_id":2, "results":[{"item":"content", "score":8}, {"item":"presentation", "score":8}]}
```

As to array, every non-null array has a **size**, we can use `$size` to narrow down the search range:

```
> db.evaluation.find({results:{$size:1}})
{"_id":9, "results":[{"item":"content", "score":7}]}
```

---