# Tutorial 8 Part A

There are four ways to merge/combine between different DataFrames in pandas: <font color='blue'>**concatenating, appending, merging and joining**</font>. Each has its own use cases and best practice. We discussed in Tutorial 5 the both methods of Concatenating and appending. In this tutorial, we discuss both merge and join. 

## Methods for integrating data with Pandas:


## 3. Merge:

<font color='blue'>**Concat and append**</font> have limited capabilities in joining tables through keys and considering the inter-relationship between tables. <font color='blue'>**Merge and join**</font> on the other hand **combine DataFrames based on a key**. According to concepts of relational databases like SQL, there are three types of relationships between tables:

1.	**One-to-one:** When each primary key value relates to only one (or no) record in the related table.

2.	**One-to-many:** When the primary key table contains only one record that relates to none, one, or many records in the related table.

3.	**Many-to-many:** When each record in both tables can relate to any number of records (or no records) in the other table.

We will discuss in the following how merge manages the three types of relationships. The following is an example of using merge for one-to-many relationship between table respresnts customer details and shopping history for each customer.

### One to Many Merge

In [47]:
import pandas as pd
customers= pd.DataFrame({'Customer_ID': ['1', '2', '3', '4'],
                      'First_Name': ['A1','A2','A3','A4'],
                    'Last_Name': ['B1', 'B2', 'B3', 'B4']})
shopping_history= pd.DataFrame({'Customer_ID': ['1', '1', '1', '4','5'],
                            'Product_ID':['100','200','300','400','500'],
                      'product': ['Oil','Sugar','Tea','Milk','Eggs']})
merged_df= pd.merge(customers,shopping_history)
print(customers)
print(shopping_history)
print(merged_df)

  Customer_ID First_Name Last_Name
0           1         A1        B1
1           2         A2        B2
2           3         A3        B3
3           4         A4        B4
  Customer_ID Product_ID product
0           1        100     Oil
1           1        200   Sugar
2           1        300     Tea
3           4        400    Milk
4           5        500    Eggs
  Customer_ID First_Name Last_Name Product_ID product
0           1         A1        B1        100     Oil
1           1         A1        B1        200   Sugar
2           1         A1        B1        300     Tea
3           4         A4        B4        400    Milk

### Try to change Customer_ID to another name!

In [48]:
#customers.columns = ['Product_ID', 'First_Name', 'Last_Name']
merged_df= pd.merge(customers,shopping_history)
print (merged_df)

  Customer_ID First_Name Last_Name Product_ID product
0           1         A1        B1        100     Oil
1           1         A1        B1        200   Sugar
2           1         A1        B1        300     Tea
3           4         A4        B4        400    Milk

### Note that if the key is not specified, merge uses the overlapping column names as the keys.

### [Pandas documentation: Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/merging.html)

## How to merge:

When there are **no common columns** between the DataFrames, you need to **specify the key to merge on**. Use **on**, **left_on** and **right_on** attributes to define the key in DataFrames.

In [49]:
customers2= pd.DataFrame({'CID': ['1', '2', '3', '4'],
                          'First_Name': ['A1','A2','A3','A4'],
                          'Last_Name': ['B1', 'B2', 'B3', 'B4']})
merged_onkey= pd.merge(customers2,shopping_history,left_on='CID',right_on='Customer_ID')
print (customers2) 
print (shopping_history)
print (merged_onkey)

  CID First_Name Last_Name
0   1         A1        B1
1   2         A2        B2
2   3         A3        B3
3   4         A4        B4
  Customer_ID Product_ID product
0           1        100     Oil
1           1        200   Sugar
2           1        300     Tea
3           4        400    Milk
4           5        500    Eggs
  CID First_Name Last_Name Customer_ID Product_ID product
0   1         A1        B1           1        100     Oil
1   1         A1        B1           1        200   Sugar
2   1         A1        B1           1        300     Tea
3   4         A4        B4           4        400    Milk

### The default "how" setting for merge is 'inner'!


In the joined table, some records are deleted because they do not have a corresponding record in the original DataFrame (such as customer 2,3,5 and Eggs). This happens because the deafult method for merging is the inner join. For zero information loss, you can use outer join instead. The outer join could be full outer (getting full information from both DataFrames), left (only from the left DataFrame) or right (using left, right methods).

In [50]:
print('##customers##')
print(customers)
print("------------------------------------------------")
print('##shopping_history##')
print(shopping_history)
print("------------------------------------------------")
merged_outer= pd.merge(customers,shopping_history, how='outer')
print("##Outer-Merge: 'customers' outer-merge on 'shopping_history'.##")
print (merged_outer)
print("#Customer ID as 5 in 'shopping_history' doesn't have record in 'customer'.")
print("------------------------------------------------")
merged_left= pd.merge(customers,shopping_history, how='left')
print("##Left-Merge: 'customers' left-merge on 'shopping_history'.##")
print (merged_left)
print("#Only Customer ID in 'customer' and their matching data in 'shopping_history'.")
print("------------------------------------------------")
merged_right= pd.merge(shopping_history,customers, how='right')
print("##Right-Merge: 'shopping_history' right-merge on 'customers'.##")
print (merged_right)
print("#Almost identifical to previous one: except the order of columns.")

##customers##
  Customer_ID First_Name Last_Name
0           1         A1        B1
1           2         A2        B2
2           3         A3        B3
3           4         A4        B4
------------------------------------------------
##shopping_history##
  Customer_ID Product_ID product
0           1        100     Oil
1           1        200   Sugar
2           1        300     Tea
3           4        400    Milk
4           5        500    Eggs
------------------------------------------------
##Outer-Merge: 'customers' outer-merge on 'shopping_history'.##
  Customer_ID First_Name Last_Name Product_ID product
0           1         A1        B1        100     Oil
1           1         A1        B1        200   Sugar
2           1         A1        B1        300     Tea
3           2         A2        B2        NaN     NaN
4           3         A3        B3        NaN     NaN
5           4         A4        B4        400    Milk
6           5        NaN       NaN        500    Eggs
#Customer ID as 5 in 'shopping_history' doesn't have record in 'customer'.
------------------------------------------------
##Left-Merge: 'customers' left-merge on 'shopping_history'.##
  Customer_ID First_Name Last_Name Product_ID product
0           1         A1        B1        100     Oil
1           1         A1        B1        200   Sugar
2           1         A1        B1        300     Tea
3           2         A2        B2        NaN     NaN
4           3         A3        B3        NaN     NaN
5           4         A4        B4        400    Milk
#Only Customer ID in 'customer' and their matching data in 'shopping_history'.
------------------------------------------------
##Right-Merge: 'shopping_history' right-merge on 'customers'.##
  Customer_ID Product_ID product First_Name Last_Name
0           1        100     Oil         A1        B1
1           1        200   Sugar         A1        B1
2           1        300     Tea         A1        B1
3           4        400    Milk         A4        B4
4           2        NaN     NaN         A2        B2
5           3        NaN     NaN         A3        B3
#Almost identifical to previous one: except the order of columns.

### Many-to-many merge:
A more complicated relationship to manage using merge method is the many-to-many. Consider the example of customers and products. The customer DataFrame contains information about customers, while products has details about differnt grocery items. One customer can buy non or many products, and any product can be purchased by non or many customers. Pandas manage this relationship using merge method. Like SQL's JOIN clause, pandas.merge allows two DataFrames to be joined on one or more keys. The function provides a series of parameters (on, left_on, right_on, left_index, right_index) allowing you to specify the columns or indexes on which to join. In version 0.17.0. Pandas added the argument indicator. If True, a Categorical-type column called _merge will be added to the output object that takes on values. Here is a simple example.

In [51]:
df1 = pd.DataFrame({'key': ['a', 'a', 'b', 'c', 'a', 'b','c'], 'd1': range(7)})
df2 = pd.DataFrame({'key': ['d', 'd', 'b', 'b', 'b', 'a'], 'd1': range(6)})
print(df1)
print(df2)
merge= pd.merge(df1,df2, how='outer',indicator='Exists')
print(merge)
print("#left_only: this record only exist in left dataset")
print("#right_only: this record only exist in right dataset")
print("#both: this record exist in both datasets")

   d1 key
0   0   a
1   1   a
2   2   b
3   3   c
4   4   a
5   5   b
6   6   c
   d1 key
0   0   d
1   1   d
2   2   b
3   3   b
4   4   b
5   5   a
    d1 key      Exists
0    0   a   left_only
1    1   a   left_only
2    2   b        both
3    3   c   left_only
4    4   a   left_only
5    5   b   left_only
6    6   c   left_only
7    0   d  right_only
8    1   d  right_only
9    3   b  right_only
10   4   b  right_only
11   5   a  right_only
#left_only: this record only exist in left dataset
#right_only: this record only exist in right dataset
#both: this record exist in both datasets

In [52]:
print (df1)
print (df2)
merge= pd.merge(df1,df2, how='outer',indicator='Exists', on='d1')
print (merge)

   d1 key
0   0   a
1   1   a
2   2   b
3   3   c
4   4   a
5   5   b
6   6   c
   d1 key
0   0   d
1   1   d
2   2   b
3   3   b
4   4   b
5   5   a
   d1 key_x key_y     Exists
0   0     a     d       both
1   1     a     d       both
2   2     b     b       both
3   3     c     b       both
4   4     a     b       both
5   5     b     a       both
6   6     c   NaN  left_only

In cases that there is a meaningful index in one of the columns, this index can replace the original DataFrame index. By default, set index returns a new DataFrame, so you will have to specify if you would like the changes to occur in place.

## 4. Join:

#### inner-join
<img src="./inner-join.png", alt='inner-join', width="200">
$$A \cap B$$

#### Left-Join (Left-Outer Join)
<img src="./left-outer-join.png", alt='Left-outer-join', width="200">
$$A \cup B + A \cap B - B = A$$

#### left-outer-join to exclude B
<img src="./left-outer-join-exclude B.png", alt='left-outer-join-exclude B', width="200">
$$A \cup B - B$$

#### Full-Outer-Join = both A and B
<img src="./full-outer-join.png", alt='full-outer-join', width="200">
$$A \cup B$$

#### Full-outer-join to exclude conjuction of A and B
<img src="./full-outer-join-exclude both A and B.png", alt='full-outer-join-exclude both A and B.png', width="200">
$$A \cup B - A \cap B$$

## Indexing

In [53]:
customers.set_index('Customer_ID', inplace=True)
shopping_history.set_index('Customer_ID', inplace=True)
print (customers)
print (shopping_history)

            First_Name Last_Name
Customer_ID
1                   A1        B1
2                   A2        B2
3                   A3        B3
4                   A4        B4
            Product_ID product
Customer_ID
1                  100     Oil
1                  200   Sugar
1                  300     Tea
4                  400    Milk
5                  500    Eggs

The DataFrame also has a convenient join method for merging on the index. This is used when you have objects with similar row labels, but different columns.

In [54]:
joined= customers.join(shopping_history,how="outer") #full-outer-join
print (customers)
print (shopping_history)
print (joined)

            First_Name Last_Name
Customer_ID
1                   A1        B1
2                   A2        B2
3                   A3        B3
4                   A4        B4
            Product_ID product
Customer_ID
1                  100     Oil
1                  200   Sugar
1                  300     Tea
4                  400    Milk
5                  500    Eggs
            First_Name Last_Name Product_ID product
Customer_ID
1                   A1        B1        100     Oil
1                   A1        B1        200   Sugar
1                   A1        B1        300     Tea
2                   A2        B2        NaN     NaN
3                   A3        B3        NaN     NaN
4                   A4        B4        400    Milk
5                  NaN       NaN        500    Eggs

## * Combining data with overlap: 

We use this method when we want to “patch” values in one object from values for matching indices in the other.  Note that this method only takes values from the right DataFrame if they are missing in the left DataFrame. Consider the following example:

In [55]:
import numpy as np
data1= pd.DataFrame([[1,3,np.nan],[np.nan,10,np.nan],[np.nan,5,3]])
data2= pd.DataFrame([[10,np.nan,4],[np.nan,5,3],[2,4,np.nan]])
print("Data 1")
print(data1)
print("--------------")
print("Data 1")
print(data2)
print("--------------")
data= data1.combine_first(data2)
print("Combine")
print(data)
print("--------------")

Data 1
     0   1    2
0  1.0   3  NaN
1  NaN  10  NaN
2  NaN   5  3.0
--------------
Data 1
      0    1    2
0  10.0  NaN  4.0
1   NaN  5.0  3.0
2   2.0  4.0  NaN
--------------
Combine
     0   1    2
0  1.0   3  4.0
1  NaN  10  3.0
2  2.0   5  3.0
--------------

## Basic data Reshaping: 

### Hierarchical indexing : Stack and unstack 

Hierarchical indexing provides a more structure way of presenting tabular data. There are **two main methods** for pivoting data with Hierarchical indexing. 

* **stack**: this “rotates” or pivots from the columns in the data to the rows
* **unstack**: this pivots from the rows into the columns

`zip(*list)`: with function `*` which will **unpack** the list

**Example**:  
```Python
In []: list(zip(*[[1,2],[3,4]]))
Out[]: [(1, 3), (2, 4)]
```

### Multiple-Indexing
```Python
multi_index = pd.MultiIndex.from_tuples(tuples, names=['1st', '2nd'])
```

### Stack
```Python
pandas.DataFrame.stack()
```
It return a reshaped DataFrame or Series having a multi-level index with one or more **new inner-most levels** compared to the current DataFrame. The new inner-most levels are created by **pivoting** the columns of the current dataframe:

* if the columns have **a single level**, the output is a **Series**;
* if the columns have **multiple levels**, the new index level(s) is (are) taken from the prescribed level(s) and the output is a DataFrame.

The new index levels are sorted.

In [65]:
import pandas as pd
import numpy as np
tuples = list(zip(*[['L1_A', 'L1_A', 'L1_B', 'L1_B','L1_C', 'L1_C', 'L1_D', 'L1_D'], 
                    ['L2_1', 'L2_2', 'L2_1','L2_2','L2_1', 'L2_2', 'L2_1','L2_2']]))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
#data = pd.DataFrame(np.random.randn(8, 2), index=multi_index columns=['A', 'B'])
data = pd.DataFrame(np.random.randn(8, 2), columns=['A', 'B'])
print(data)
data.index = multi_index
print(data)
result=data.stack()#pivoting the columns
print(result)
print('#Note: A and B columns have been propagated to corresponding row')

          A         B
0  1.207376 -0.110377
1 -1.661651  1.165869
2 -0.500525 -1.265514
3  1.229052 -0.583861
4  0.545316  1.059960
5 -1.025643 -1.239282
6 -0.492065 -1.575757
7 -0.837516  1.832702
                     A         B
first second
L1_A  L2_1    1.207376 -0.110377
      L2_2   -1.661651  1.165869
L1_B  L2_1   -0.500525 -1.265514
      L2_2    1.229052 -0.583861
L1_C  L2_1    0.545316  1.059960
      L2_2   -1.025643 -1.239282
L1_D  L2_1   -0.492065 -1.575757
      L2_2   -0.837516  1.832702
first  second
L1_A   L2_1    A    1.207376
               B   -0.110377
       L2_2    A   -1.661651
               B    1.165869
L1_B   L2_1    A   -0.500525
               B   -1.265514
       L2_2    A    1.229052
               B   -0.583861
L1_C   L2_1    A    0.545316
               B    1.059960
       L2_2    A   -1.025643
               B   -1.239282
L1_D   L2_1    A   -0.492065
               B   -1.575757
       L2_2    A   -0.837516
               B    1.832702
dtype: float64
#Note: A and B columns have been propagated to corresponding row

In [69]:
result

first  second
L1_A   L2_1    A    1.207376
               B   -0.110377
       L2_2    A   -1.661651
               B    1.165869
L1_B   L2_1    A   -0.500525
               B   -1.265514
       L2_2    A    1.229052
               B   -0.583861
L1_C   L2_1    A    0.545316
               B    1.059960
       L2_2    A   -1.025643
               B   -1.239282
L1_D   L2_1    A   -0.492065
               B   -1.575757
       L2_2    A   -0.837516
               B    1.832702
dtype: float64

In [72]:
print(data.unstack())

               A                   B
second      L2_1      L2_2      L2_1      L2_2
first
L1_A    1.207376 -1.661651 -0.110377  1.165869
L1_B   -0.500525  1.229052 -1.265514 -0.583861
L1_C    0.545316 -1.025643  1.059960 -1.239282
L1_D   -0.492065 -0.837516 -1.575757  1.832702

In [75]:
joined= customers.join(shopping_history, how= 'outer')#customers full-outer-join on history
print (customers)
print (shopping_history)
print (joined)

            First_Name Last_Name
Customer_ID
1                   A1        B1
2                   A2        B2
3                   A3        B3
4                   A4        B4
            Product_ID product
Customer_ID
1                  100     Oil
1                  200   Sugar
1                  300     Tea
4                  400    Milk
5                  500    Eggs
            First_Name Last_Name Product_ID product
Customer_ID
1                   A1        B1        100     Oil
1                   A1        B1        200   Sugar
1                   A1        B1        300     Tea
2                   A2        B2        NaN     NaN
3                   A3        B3        NaN     NaN
4                   A4        B4        400    Milk
5                  NaN       NaN        500    Eggs

**Exercise:** Try to implement the same code using pivot (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html)

### Duplication: 

The DataFrame method 'duplicated' returns a Boolean Series indicating whether each row is a duplicate or not:

In [76]:
data.duplicated()

first  second
L1_A   L2_1      False
       L2_2      False
L1_B   L2_1      False
       L2_2      False
L1_C   L2_1      False
       L2_2      False
L1_D   L2_1      False
       L2_2      False
dtype: bool

#### Relatedly, `drop_duplicates()` returns a DataFrame where the duplicated array is without duplicated rows.

In [80]:
data = pd.DataFrame({'k1': ['Milk'] * 3 + ['Cheese'] * 4,  'k2': [1, 1, 2, 3, 3, 4, 4]})
print (data)
data.duplicated()
cleandata= data.drop_duplicates()
print("###After deduplication")
print(cleandata)

       k1  k2
0    Milk   1
1    Milk   1
2    Milk   2
3  Cheese   3
4  Cheese   3
5  Cheese   4
6  Cheese   4
###After deduplication
       k1  k2
0    Milk   1
2    Milk   2
3  Cheese   3
5  Cheese   4

As you may have noticed, applying `drop_duplicates()` on the whole DataFrame considers all other columns together. We can alternatively **specify at which column** we want to capture the duplication.

In [81]:
v1= data.drop_duplicates(['k1'])
print (v1)
v2=  data.drop_duplicates(['k2'])
print (v2)

       k1  k2
0    Milk   1
3  Cheese   3
       k1  k2
0    Milk   1
2    Milk   2
3  Cheese   3
5  Cheese   4

### Renaming axis indexes: 

Pandas enable modifying the current attribute name using map or renaming methods. Example is as follows:

In [89]:
idf= pd.DataFrame(np.arange(12).reshape((3, 4)), 
                  index=['nsw', 'vic', 'tasmania'],
                  columns=['day1', 'day2', 'day3', 'day4'])
print (idf)
#idf.index.map(str.title)
idf.rename(index=str.title, columns=str.upper)

          day1  day2  day3  day4
nsw          0     1     2     3
vic          4     5     6     7
tasmania     8     9    10    11

          DAY1  DAY2  DAY3  DAY4
Nsw          0     1     2     3
Vic          4     5     6     7
Tasmania     8     9    10    11

In [90]:
idf

          day1  day2  day3  day4
nsw          0     1     2     3
vic          4     5     6     7
tasmania     8     9    10    11

Please note rename keeps the original value of the data unchanged. To change the original DataFrame, you need to do that `inplace`. You can also  rename a subset of columns.

In [91]:
#idf.index=idf.index.map(str.upper)
#OR
idf.rename(index=str.upper, columns=str.upper, inplace=True)
idf

          DAY1  DAY2  DAY3  DAY4
NSW          0     1     2     3
VIC          4     5     6     7
TASMANIA     8     9    10    11

More details and examples can be found in http://pandas.pydata.org/pandas-docs/stable/merging.html and "Python for Data Analysis" book pages 177-193.
https://nikolaygrozev.wordpress.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/